:root{
    --main-color:#008E00;
    --white:#fff;
    --black:black;
    --border: 1px solid var(--main-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --light-bg:#FFFFF0;
    
}
.posts-container {
    margin: 0 auto; 
    padding: 20px;
}
.navbar {
    height: 80px ;
    width: 100vw;
    background-color:var(--black) ;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    display: flex;
    position: sticky;
    left:0px; 
    right:0px;
    top:0px;
    border-bottom : var(--border) ;
    box-shadow : 0px 0px 10px 0px #008E00 ;
    opacity: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color : var(--main-color);
    font-weight : 200 ; 
    margin-right : 65% ; 
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px ; 

}
.navbar a {
    text-decoration: none;
    color: var(--white) ;
    background-color: var(--black);
    padding : 10px 20px ;
    border-radius: 5px;
    border : var(--border) ;
}

.posts-container a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    margin : 40px ; 
    padding : 10px 20px ;
    border-radius: 5px;
    border : var(--border);

}
a:hover {
    background-color: var(--main-color);
    color : var(--black) ;
    transition: 0.2s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    margin-right : 5% ;
    
}

li {
    margin-top: 15px;
    border : var(--border) ;
    border-radius: 10px;
    padding: 10px 15px;
    color : var(--main-color);

}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #008E00 ;
    z-index: 11;
}

.popup h3 {
    margin: 0 0 20px 0;
    text-align: center;
    color : var(--main-color);
}

.popup a {
    text-decoration: none;
    color: white ;
    background-color: var(--black);
    padding : 10px 20px ;
    border-radius: 5px;
    border : var(--border);
    margin-right : 20px ;
}
.popup a:hover {
    background-color: var(--main-color);
    color : var(--black) ; 
    transition: 0.2s;
}
.noimg {
    width: 80%;
    max-height: 100px;
    background-color: var(--black) ;
    border : var(--border);
    border-radius: 5px;
    text-align: center;
    padding-block : 50px ;
    display : flex ; 
    justify-content : center ;
}
#homeImg{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
}
/* connect form start  */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.form-container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container form {
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container p {
    margin-top: 10px;
}

.form-container a {
    color: #4CAF50;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}
/* connect form end */

/* about us start */

/* about us end */

/* services section starts */
.services .wrapper{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background: var(--light-bg);
}
.services .wrapper h3{
    font-size: 30px;
    margin: 25px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
.services .wrapper .content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.services .wrapper .content-box .card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-bg);
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);

}
.services .wrapper .content-box .card i{
    margin: 20px;
    color: var(--main-color);
}
.services .wrapper .content-box .card h4{
    margin-bottom: 12px;
    font-weight: 600;
    text-align: center;
}
.services .wrapper .content-box .card p{
    color: var(--light-color);
}
.services .wrapper .content-box .card:hover i,
.services .wrapper .content-box .card:hover p{
    color: var(--white);
}
.services .wrapper .content-box .card:hover h4{
    font-weight: 800;
}
.services .wrapper .content-box .card:hover{
    background: linear-gradient(45deg,
                                rgba(255,28,8,0.8)0%,
                                rgba(255,0,82,0.8)100%),
                                url(../images/pexels-emre-can-acer-2079246.jpg);
    background-size: cover;
}
/* services section ends */
/* contact section start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodyy{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: #006400;
    font-family: 'Poppins', sans-serif;
}
.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #666;
    padding: 50px;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.contact-map a{
    text-decoration: none;
    color: #000;
}
.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.contact-form h1 {
  margin-bottom: 10px;
}
.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border:1px solid #bcbcbc ;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txt::placeholder{
    color: #000;
    font-weight: 600;
}
.contact-form-textarea{
    width: 100%;
    height: 130px;
    color: #000;
    border:1px solid #bcbcbc ;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-form-textarea::placeholder{
    color: #000;
    font-weight: 600
}
.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #006400;
    color: #000;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
}
/* contact section end */
/* footer section start */

.footer{
    background-color: var(--black);
    width: 100vw;
 }
 
 .footer .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 
 .footer .flex .box{
    flex: 1 1 30rem;
 }
 
 .footer .flex .box a{
     display: block;
     padding: 10px 0;
     font-size: 20px;
     text-decoration: none;
  }
  .footer .flex .box a:hover{
    background-color: var(--black);
  }
  
  .footer .flex .box a span{
     color: var(--white);
     padding-left: 8px;
     transition: all 0.3s ease;
  }
  
  .footer .flex .box a:hover span{
     padding-left: 15px;
  }
  
  .footer .flex .box a i{
     color: var(--main-color);
  }
  
  .footer .flex .box:last-child{
     text-align: right;
  }
  
  .footer .flex .box:last-child a i{
     margin-left: 1.5rem;
  }
  
  .footer .flex .box:first-child a i{
     margin-right: 1.5rem;
  }
  
  .footer .flex .box:nth-child(2){
     text-align: center;
  }
  
  .footer .credit{
     padding: 3rem 2rem;
     text-align: center;
     border-top: var(--border);
     font-size: 23px;
     color: var(--white);
     margin-top: 2rem;
     /* padding-bottom: 10rem; */
  }
  
  .footer .credit span{
     color: var(--main-color);
  }
  /* footer section ends  */